body, p {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
}

body {
}

#bg_sketch {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
li {
    display: inline-block;
    margin: 10px;
}

a {
    color: #000;
}

#navbar {
    float: right;
}

#content {
    text-align: center;
    width: 100%;
}

.sidebar {
    vertical-align: top;
    margin: 1em;
    text-align: left;
    /*background-color: rgba(255, 255, 255, 0.7);*/
    padding: 0.2em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPElEQVQoU2NkIA5IMhKhTpKBgeE5IYVgRSDD8CmEK8KnEEURLoUYirApxKoIXSFORcgK8SqCKSSoCKQQAI9pCSRK6e3oAAAAAElFTkSuQmCC) repeat;x
}

#name {
    /*font-size: 20pt;*/
    font-weight: bold;
    display: inline-block;
}

#work {
    display: inline-block;
    width: 35%;
}

#links {
    display: inline-block;
}


.link {
    display: block;
}

.project {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.project_detail {
    vertical-align: top;
    display: inline-block;
    width: 250px;
    margin-left: 0.1em;
}

.project_logo {
    height: 100px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.project_title {
    font-weight: project;
}

.bold_blurb {
}

#header {
    
}


#sidebar_wrapper {
    
}

.sidebar_header {
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 0.01em black solid;
}

.navbar_item {
    margin: 10px;
}

.navbar {
    display: inline-block;
    font-weight: light;
}

#header {
    margin-top: 20px;
}
