html,head,body {
    padding:0;

    margin:0;
}
body {
    font-family: calibri, helvetica, arial, sans-serif;
}

.header {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-flow: row || nowrap;
    justify-content: space-between;
    border-bottom: thin solid black;
    background-color: white;
}

.nav {
  display: flex;
  flex-flow: row || nowrap;
  justify-content: space-between;
}

.nav_button {
  padding: 10px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px;
}

.greeter {
    position:fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tea_description {
    background-color: #000;
    color: #fff;
    padding: 5px;
}

.log_entry_header {
    background-color: #fff;
    padding: 5px;
    margint-top: auto;
    margint-bottom: auto;
}

.project {
    display: flex;
    flex-flow: row || nowrap;
    padding: 10px;
    border-bottom: 1px dashed;
}

.project_logo {
    border-radius: 10%;
    margin-right: 15px;
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    margin-top: auto;
    margin-bottom: auto;
}
.tag-list {
    display: flex;
    flex-flow: row;
}
.tag {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}

.project_details {
    width: 100%
}

.project_header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.project_name {
    font-size: 18pt;
    font-weight: bold;
}
.project_links {
}

.icon_btn {
    margin-left: 10px;
}